body {
  all: unset;
  font-family: "Inter";
  text-transform: none;
}

.css-5t6yvv-MuiModal-root-MuiDialog-root {
  color: #fff;
  background-color: #495c83 !important;
}

.css-5t6yvv-MuiModal-root-MuiDialog-root {
  background-color: white !important;
}
